/*-------------------------------------------------------------------- ОСНОВНЫЕ ЭЛЕМЕНТЫ*/
body{ 
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #333333;
}
section>div>h1, section>div>h2, section>div>h3, section>div>h4, section>div>h5, section>div>h6{
	margin:  20px 0 60px ;
}
h1, h2, h3, h4, h5, h6{
	text-align: center;
}
h2 {
	font-weight: 800;
	font-size: 26px;
}
i{
	color: #36d999;
}
.fa-phone {
	transform: rotate(90deg);
}
section > div{
	padding: 60px 0;
	margin: 0 100px;
}
.link-button{
	font-family: 'Montserrat', sans-serif;
	border: 2px solid #36d999;
    background-color: #36d999;
    color: white;
    text-decoration: none;
	font-size: 24px;
    font-weight: 500;
    padding: 10px 70px;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;
}
.link-button:hover{
	box-shadow: 0px 0px 10px 0px #333333ab;
}
/*-------------------------------------------------------------------- МЕНЮ*/
.menu{
	position: fixed;
	width: 100%;
	height: 75px;
	z-index: 1000;
	transition: .5s;
}
.menu-background{
	background-color: white;
	box-shadow: 0 0 8px rgba(0,0,0,0.4)
}
.menu > div {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-left: 50px;
	margin-right: 50px;
	font-weight: bold;
}
.menu a {
	text-decoration: none;
	color: #333333;
	font-size: 14px;
	font-weight: 600; 
}
.menu > div > div {
	border-bottom: 2px solid #3fb39500;
	transition: .3s;
}
.menu > div > div:hover{
	border-bottom: 2px solid #36d999;
}
/*-------------------------------------------------------------------------------mobMenu*/
.mobMenu {
	display: none;
}
.mobMenu i {
	cursor: pointer;
}
.mobMenu a {
	color: #333333;
	text-decoration: none;
}
.mobMenu > div > div {
    padding: 20px;
    font-size: 30px;
}
#mobMenu{
    transition: .3s;
}
#mobDropmenu {
	width: 100%;
	display: none;
    position: absolute;
    top: 55px;
    background: linear-gradient(to bottom, #ffffff00, #ffffff 5%);
    box-shadow: 0px 4px 5px rgba(0,0,0,0.4);
}
#mobDropmenu > div {
	margin-top: 35px;
	margin-bottom: 35px;
}
.pushed{
	color: #333333 !important;
}
/*-------------------------------------------------------------------- ЗАГЛАВНАЯ СЕКЦИЯ*/
.hero-section{
	width:100%;
	height: 100vh;
	background-image: url(../gallery/DSC_9383.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-section h1 {
	font-weight: 800;
}
.hero-section > section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, #ffffff00 40%, #fffffff0);
	width: 100%;
	height: 100vh;
}
.header {
	margin: 0 0 0 50%;
}
.header h3 {
	margin: 10px 0 ;
}
.header p {
	margin: 20px 0 ;
}
.header > div:first-child {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.header > div:first-child > p {
	font-size: 22px;
	font-weight: 600;
	margin: 0px 10px 0;
}
.header > div:nth-child(2){
	margin: 7vh 0 7vh;
}
.header > div:nth-child(2)> p{
	font-size: 18px;
}
.header > div:last-child> p{
	font-size: 16px;
	font-weight: 400;
}
.header > div p,.header > div h1,.header > div h3 {
	text-align: center;
}
.header > div h1{
	font-size: 35px;
	font-weight: 800;
}
.header > div h3{
	font-size: 21px;
	font-weight: 600;
}
.header .link-button{
	margin: 60px 0 10px;
	box-shadow: 0px 0px 20px 0px #333333ab;
}
.header .link-button:hover{
	color: #36d999;
	background-color: #3fb39500;
}
/*-------------------------------------------------------------------- СЕКЦИЯ "ЧТО ВЫ ПОЛУЧИТЕ?"*/
.what-would-you-get-section ul { 
	list-style: none;
}
.what-would-you-get-section li {
	text-align: justify;
	font-size: 20px;
	font-weight: 400;
	position: relative;
	margin-bottom: 25px;
}
.what-would-you-get-section li img {
	width: 35px;
    position: absolute;
    top: -6px;
    left: -2.5em;
}
/*-------------------------------------------------------------------- СЕКЦИЯ ЗАЯВКИ "Открой себя. Узнай себя. Поменяй себя легко"*/
.header, .application-section, .application-section div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.application-section {
    background: #bceee8;
}
.application-section h2 {
    font-weight: 500;
}
/*-------------------------------------------------------------------- СЕКЦИЯ "АВТОР И ВЕДУЩИЙ СЕМИНАРА"*/
.autor-section{
	background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
	background-image: url(../gallery/DSC_9169.jpg);
}
.autor-section h4 {
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 20px;
}
.autor-section > div > p,.autor-section li span {
	font-weight: 400;
	font-size: 18px;
	text-align: justify;
}
.autor-section > div > div > p {
	font-weight: 600;
	font-size: 18px;
	margin: 45px 0 45px;
}
.autor-section > div > div:first-child{
    text-align: justify;
    margin-bottom: 50px;
}
.autor-section ul {
	width: 45%;
}
.autor-section li {
	color: #36d999;
	margin-bottom: 33px;
}
.autor-section li span {
	color: #333333;
}
/*-------------------------------------------------------------------- СЕКЦИЯ "ВИДЕООТЗЫВЫ"*/
.video-section {
	background-color:#ededed;
}
.video-section > div > div > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.video-section iframe {
	border-radius: 5px;
	margin: 0 15px 15px 0;
	box-shadow: 0 0 15px #444444;
}
/*-------------------------------------------------------------------- СЕКЦИЯ "ПРОГРАММА"*/
.program-section > div > div  {
	display: flex; 
	flex-direction: row;
	margin: 0 0 30px 0;
}
.program-section > div > div:last-child {
	display: flex;
	justify-content: center;
}
.program-section__block h4 {
	border-bottom: 2px solid #36d99800;
	transition: .3s;
	font-weight: 700;
	font-size: 22px;
}
.program-section > div > div:hover h4 {
	border-bottom: 2px solid #36d998;
} 
.program-section__block{
	text-align: center;
    margin-top: 1.5%;
	margin-right: 8%;
}
.program-section__block p, .program-section__list p {
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
}
.program-section__list p {
	margin: 50px 20px 30px;
 }
.program-section__list{
	width: 65%;
	text-align: justify;
}
.program-section__list li {
	color: #36d998;
	margin-bottom: 25px;
}
.program-section__list li span {
	font-size: 16px;
	font-weight: 400;
	color: #333333;
} 
/*-------------------------------------------------------------------- СЕКЦИЯ "ОБЫЧНЫЙ ПСИХОЛОГИЧЕСКИЙ СЕМИНАР И ШОУ МИХАИЛА ФИЛЯЕВА"*/
.show-section {
	background-color: #ebebeb;
}
.show-section > div > div > div:last-child {
	background-color: #e2f4eb;
}
.show-section h3 p{
	border-bottom: 3px solid #36d998;
	display: inline-flex;
	justify-content: center;
	line-height: 1.5;
	margin-top: 0;
}
.show-section h3 {
	font-size: 22px;
	font-weight: 700;
	height: 50px;
	margin: 20px 0;
}
.show-section > div > div > div:first-child li img {
    top: 3px;
}
.show-section > div > div > div > ul li {
	height: 70px;
}
/*---------------------------СЕКЦИЯ "ОБЫЧНЫЙ ПСИХОЛОГИЧЕСКИЙ СЕМИНАР И ШОУ МИХАИЛА ФИЛЯЕВА"-+-СЕКЦИЯ "СТОИМОСТЬ"*/
.show-section > div > div > div,.price-section > div > div > div{
	background-color: white;
	border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #333333ab;
    padding: 35px 0;
    margin: 10px 13px;
    width: 40%;
    transition: .3s;
}
.flex-center-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.flex-center-row ul {
	list-style: none;
	margin: 0 40px;
}
.flex-center-row li {
	margin: 20px 0;
}
.flex-center-row li{
	position: relative;
	text-align: justify;
	font-weight: 400;
	font-size: 18px;
}
.flex-center-row li img {
	width: 35px;
    position: absolute;
    top: 0;
    left: -2.5em;
}
.unactive {
	color: gray;
}
/*-------------------------------------------------------------------- СЕКЦИЯ "КАК ПРОХОДЯТ НАШИ МЕРОПРИЯТИЯ" СЛАЙДЕР*/
.slider-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.slider-block {
	width: 70vw;
}
.slider-block > div {
	border-radius: 2px;
}
.slider-block  > div > div {
	height: 35vw;
}
.slider-block  > div > div > div {
	/*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-1{
	background-image: url(../gallery/slides/DSC_0035.jpg);
}
.slide-2{
	background-image: url(../gallery/slides/DSC_0040.jpg);
}
.slide-3{
	background-image: url(../gallery/slides/DSC_0242.jpg);
}
.slide-4{
	background-image: url(../gallery/slides/DSC_0287.jpg);
}
.slide-5{
	background-image: url(../gallery/slides/DSC_1466.jpg);
}
.slide-6{
	background-image: url(../gallery/slides/DSC_3670.jpg);
}
.slide-7{
	background-image: url(../gallery/slides/DSC_3771.jpg);
}
.slide-8{
	background-image: url(../gallery/slides/DSC_3784.jpg);
}
.slide-9{
	background-image: url(../gallery/slides/DSC_4001.jpg);
}
.slide-10{
	background-image: url(../gallery/slides/DSC_4559.jpg);
}
/*-------------------------------------------------------------------- СЕКЦИЯ "СТОИМОСТЬ"*/
.button-div {
	display: flex;
	justify-content: center;
	margin: 40px 0 10px 0;
}

.price-section{
	background-color: #f3f3f2;	
}
.price-section h3 {
	font-weight: 700;
	font-size: 24px;
}
.price-section h3 {
	margin-bottom: 5px;
}
.price-section h4 {
	margin-top: 1px;
	font-weight: 600;
	font-size: 20px;
	text-decoration: line-through;
}
.price-section span {
	border-bottom: 3px solid #36d998;
}
.price-section .flex-center-row > div {
	margin: 0 25px 0;
	width: 45%;
	box-shadow: none;
}
.price-section li {
	font-size: 18px;
	font-weight: 400;
}
/*-------------------------------------------------------------------- СЕКЦИЯ "МЕСТО"*/
.place-section > div > div > div {
	width: 35%;
	margin: 10px 30px;
}
.place-section > div > div > div:first-child{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.place-section img {
	width: 400px;
}
.place-section h3  {
	font-weight: 700;
	font-size: 24px;
	text-align: justify;
}
.place-section p {
	font-weight: 400;
	font-size: 18px;
}
.place-section > div > div > div img {
	margin: auto;
}
/*-------------------------------------------------------------------- ПОДВАЛ*/
footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
	padding-top: 30px;
	width: 100%;
	background-color: #45b295;
}
footer i {
	color: white;
	font-size: 24px;
}
footer > div{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 35%;
    margin: 10px 10% 30px
}
footer > div:first-child {
	justify-content: center;
	align-items: center;
}
footer > div > div i {
	margin-right: 10px;
}
footer > div a {
	text-decoration: none;
	color: white;
	font-weight: 400;
	font-size: 16px;
}
footer img {
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
}
footer h2 {
	font-weight: 800;
    font-size: 20px;
}

/*-------------------------------------------------------------------- АДАПТИВНОСТЬ ЭКРАНА*/
@media only screen and (max-width: 1140px) {
	.show-section > div > div > div{
	    width: 50%;
	}
	@media only screen and (max-width: 1024px) {
		.menu{
			display: none;
		}
		.mobMenu {
			display: block;
			position: fixed;
			z-index: 1000;
			transition: .5s;
			width: 100%;
		}
		.mobMenu > div {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		.hero-section {
		    background-image: url(../gallery/DSC_9333.jpg); 
		    background-repeat: no-repeat;
		    background-size: cover;
		}
		.hero-section > section {
			justify-content: center;
		    background: linear-gradient(to bottom, #ffffff00 22%, #ffffff);
		}
		.header{
			margin: 0;
			padding: 100px 0 60px;
		}
		.header > div:first-child {
		    justify-content: space-between;
		}
		.header > div:nth-child(2) {
		    margin: 7vh 0 1vh;
		}
		.header > div h1{
			font-size: 40px;
		}
		.header > div h3{
			font-size: 26px;
		}
		.link-button {
		    padding: 20px 100px;
		    margin: 5px 0 5px;
		}
		.program-section h2 {
			margin-bottom: 80px;
		}
		.program-section > div > div {
			display: block;
		    margin: 0 0 160px 0;
		}
		.program-section > div > div:hover h4 {
			border-bottom: 2px solid #36d99800;
		} 
		.program-section__block {
		     margin-right: 0; 
		}
		.program-section__list {
		    width: 100%;
		}
		.program-section__list p {
			text-align: center;
		}
		.flex-center-row {
		    flex-direction: column;
		}
		.show-section > div > div > div {
		    width: 80%;
		}
		.price-section .flex-center-row > div {
		    margin: 0 25px 25px;
		    width: 80%;
		}
		.place-section > div > div > div {
		    width: 80%;
		    margin: 10px 30px;
		}
		footer {
		    flex-direction: column;
		}
		footer > div:first-child {
		}
		footer > div:last-child > div:first-child {
			margin: auto;
			margin-bottom: 50px;
		}
		footer > div:last-child > div:first-child i {
			font-size: 60px;
		}
		footer > div {
		    width: 60%;
		}
		footer > div:last-child > div a {
			margin: auto;
			font-size: 40px;
		}
		footer > div > div i {
		    font-size: 40px;
		    margin-right: 10px;
		    padding: 10px;
		}
		@media (max-width: 991px) {
			footer > div {
			    width: 70%;
			}
			@media (max-width: 853px) {
				.autor-section {
				    background-position: 70% 70%;
				}
				footer > div {
				    width: 90%;
				}
				@media (max-width: 683px) {
					section > div {
					    margin: 0 10px;
					}
					.slider-block {
					    width: 100vw;
					}
					.slider-block  > div > div {
						height: 50vw;
					}
					.video-section > div > div > div {
					    display: flex;
					    flex-direction: column;
					    justify-content: center;
					    align-items: center;
					}
					@media (max-width: 655px) {
						.slider-section > div {
						    display: flex;
						    flex-direction: column;
						    justify-content: center;
						    align-items: center;
						}
						footer > div:last-child > div a {
							font-size: 30px;
						}
						@media (max-width: 540px) {
							.autor-section ul {
							    width: 90%;
							}
							h2 {
							    font-size: 20px;
							}
							.show-section > div > div > div {
							    width: 95%;
							}
							.price-section .flex-center-row > div {
							    width: 95%;
							}
							footer > div:last-child > div a {
							    font-size: 20px;
							}
							@media (max-width: 490px) {
								.mobMenu > div > div {
								    font-size: 20px;
								}
								@media (max-width: 400px) {
									.link-button{
										font-size: 18px;
									}
									.show-section > div > div > div > ul li {
									    height: 100px;
									}
									.place-section img {
									    width: 290px;
									}
									.place-section h3 {
									    font-size: 18px;
									}
									footer > div:last-child > div:first-child i {
									    font-size: 40px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-device-height: 768px) {
	.hero-section {
	    height: 1000px;
	}
	.hero-section > section {
	    height: 1000px;
	}
	.what-would-you-get-section li img {
	    width: 40px;
	    position: absolute;
	    top: 0px;
	    left: -2.5em;
	}
	.program-section > div > div {
		display: block;
	    margin: 0 0 160px 0;
	}
}
@media (max-height: 750px) {
	.header > div:nth-child(2){
		margin: 3vh 0 3vh;
	}
	@media (max-height: 650px) {
		.header > div:nth-child(2){
			margin: 2vh 0 2vh;
		}
		.header .link-button{
			margin: 15px 0 10px;
		}
		@media (max-height: 555px) {
			.header > div h1{
				margin: 5px 0;
			}
			.header > div h3{
				margin: 3px 0;
			}
			.header {
			    padding: 70px 0 10px !important;
			}
		}
	}
}